// {{.ClassName}}Class 类型骨架（函数体由外部生成注入）
type {{.ClassName}}Class struct {
	node.Node
	source {{ .SourceType }}
}

func New{{.ClassName}}Class() data.ClassStmt { {{ .BodyNewClass }} }
func New{{.ClassName}}ClassFrom({{ .NewClassFromParam }}) data.ClassStmt { {{ .BodyNewClassFrom }} }

func (s *{{.ClassName}}Class) GetName() string { {{ .BodyGetName }}}
func (s *{{.ClassName}}Class) GetExtend() *string { {{ .BodyGetExtend }}}
func (s *{{.ClassName}}Class) GetImplements() []string { {{ .BodyGetImplements }}}
func (s *{{.ClassName}}Class) AsString() string { {{ .BodyAsString }}}
func (s *{{.ClassName}}Class) GetSource() any { {{ .BodyGetSource }}}

func (s *{{.ClassName}}Class) GetProperty(name string) (data.Property, bool) { {{ .BodyGetProperty }} }
func (s *{{.ClassName}}Class) GetProperties() map[string]data.Property { {{ .BodyGetProperties }} }
func (s *{{.ClassName}}Class) SetProperty(name string, value data.Value) { {{ .BodySetProperty }} }

// data.ClassStmt 接口补齐
func (s *{{.ClassName}}Class) GetMethod(name string) (data.Method, bool) { {{ .BodyGetMethod }} }
func (s *{{.ClassName}}Class) GetMethods() []data.Method { {{ .BodyGetMethods }} }
func (s *{{.ClassName}}Class) GetConstruct() data.Method { {{ .BodyGetConstruct }} }

func (s *{{.ClassName}}Class) GetValue(ctx data.Context) (data.GetValue, data.Control) { {{ .BodyGetValue }} }
