// {{.FunctionName}}Function 类型骨架（函数体由外部生成注入）
type {{.FunctionName}}Function struct {
	node.Node
}

func New{{.FunctionName}}Function() *{{.FunctionName}}Function { {{ .BodyNewFunction }} }
func (f *{{.FunctionName}}Function) GetName() string { {{ .BodyGetFunctionName }} }
func (f *{{.FunctionName}}Function) Call(ctx data.Context, args []data.Value) (data.GetValue, data.Control) { {{ .BodyFunctionCall }} }
func (f *{{.FunctionName}}Function) GetModifier() data.Modifier { {{ .BodyFuncGetModifier }} }
func (f *{{.FunctionName}}Function) GetIsStatic() bool { {{ .BodyFuncGetIsStatic }} }
func (f *{{.FunctionName}}Function) GetParams() []data.GetValue { {{ .BodyFuncGetParams }} }
func (f *{{.FunctionName}}Function) GetVariables() []data.Variable { {{ .BodyFuncGetVariables }} }
func (f *{{.FunctionName}}Function) GetReturnType() data.Types { {{ .BodyFuncGetReturnType }} }
