{{ $m := index .Methods 0 }}

// {{$m.Name}}Method 类型骨架（函数体由外部生成注入）
type {{$m.Name}}Method struct {
	source {{.ClassName}}
}

func New{{$m.Name}}Method(source {{.ClassName}}) *{{$m.Name}}Method { {{ .BodyNewMethod }} }
func (m *{{$m.Name}}Method) GetName() string { {{ .BodyGetMethodName }} }
func (m *{{$m.Name}}Method) Call(ctx data.Context, args []data.Value) (data.GetValue, data.Control) { {{ .BodyMethodCall }} }
func (m *{{$m.Name}}Method) GetModifier() data.Modifier { {{ .BodyMethodGetModifier }} }
func (m *{{$m.Name}}Method) GetIsStatic() bool { {{ .BodyMethodGetIsStatic }} }
func (m *{{$m.Name}}Method) GetParams() []data.GetValue { {{ .BodyMethodGetParams }} }
func (m *{{$m.Name}}Method) GetVariables() []data.Variable { {{ .BodyMethodGetVariables }} }
func (m *{{$m.Name}}Method) GetReturnType() data.Types { {{ .BodyMethodGetReturnType }} }
